// Media queries

@mixin mq($break) {
  @media (min-width: $break-m) {
    @content;
  }
}

@mixin quote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $color-primary;
  border-radius: 5px;
  @content;
}
