/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $main-font-stack;
  color: $body-color;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $color-primary;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: 300;
  color: $body-color;
}

.link {
  color: $link-color;
  font-weight: 700;
}

.blockquote {
  @include quote;
}
